# DigitalOcean API Token (Read/Write)
DIGITALOCEAN_TOKEN=

# Tailscale API Key
TAILSCALE_API_KEY=

# Tailscale Tailnet Name (organization name or email)
TAILSCALE_TAILNET=

# Tailscale Auth Key (Reusable, Ephemeral recommended)
TAILSCALE_AUTH_KEY=
